/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  color: #379600;
  text-align: center;
  width: 100%;
  font-size: 2.2em;
}

a {
  color: #ff8200;
  text-decoration: none;
  transition: .6s;

  &:hover,
  &:active {
    color: #9f5408;
  }
}
